html,
body {
    height: 100%;
    /* 但是 body 的100% 相对于的是 html 所以，我们要设置 html 的高度为100% */
    /* 为了让下列的 left-menu 使用 calc 设置 高度，需要让父级有高度 */
}

body,
dl,
dd {
    margin: 0;
    height: 100%;
}

body::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    height: 70px;
    line-height: 70px;
    /* 单纯设置 line-height 对于 inline 属性的标签， 对齐的是基线的 */
    /* 对于span 这种 inline 的标签，基线在 文字 ‘x’ 的 底部 */
    /* 对于 inline-block 的标签 基线在 外层盒模型的底部， 也就是margin 的底部 */
    background-color: #354457;
}

.left-menu {
    width: 200px;
    height: calc(100% - 70px);
    background-color: #4d5e70;
    float: left;
}

.right-content {
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 70px);
    background-color: #eee;
    position: relative;
    overflow: scroll;
    /*  数据过多或者过长，在 tbody 中 产生滚动条 */
}

.header .log {
    padding-left: 20px;
    color: #b3bcc5;
    font-size: 14px;
}

.header .log img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.left-menu dl {
    line-height: 40px;
    font-size: 14px;
    color: #b3bcc5;
}

.left-menu dl dt {
    padding-left: 10px;
}

.left-menu dl dd {
    height: 40px;
    padding-left: 40px;
    cursor: pointer;
}

.left-menu dl dd:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #354457;
}

.left-menu dl dd.active {
    background-color: #ddd;
    color: #354457;
}

.right-content .content {
    position: absolute;
    width: 100%;
    display: none;
}

.right-content .content.show-content {
    display: block;
}

form {
    width: 400px;
    margin: 20px auto;
    /* margin 想要居中，就要让父元素有宽度才行 */
}

form div {
    margin: 10px 0;
}

form div label:not(.sex) {
    width: 80px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

form .btn {
    padding: 5px 27px;
}

.content.student-list table {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.content.student-list thead {
    background-color: #e3e8ee;
    color: #646987;
}

.content.student-list tbody{
    background-color: #fff;
}

.content.student-list tbody .btn{
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.student-list table .btn.edit {
    background-color: #5cb85c;
}
.student-list table .btn.remove {
    background-color: #d9534f;
}

.dialog{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.dialog .dialog-content{
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left:-250px ;
    margin-top: -200px;
}

.dialog.show{
    display: block;
}

.dialog .dialog-content h3{
    padding-left: 30px;
}
